<template>
    <div>
        <v-container fluid px-4 py-0>
            <v-layout row wrap align-center>
                <v-flex xs12 class="text-xs-center">
                    <v-dialog v-model="systemLoadingDialog" max-width="500px" class="mx-auto">
                        <v-card class="text-xs-center">
                            <v-card-text>
                                <h3>{{ $lang.strings.system_running }}......</h3>
                                <br>
                                <v-progress-circular indeterminate :size="70" :width="7" color="blue"></v-progress-circular>
                            </v-card-text>
                        </v-card>
                    </v-dialog>
                </v-flex>
            </v-layout>
            <div class="dash-title">
                <h3>{{ $lang.manage_user.manage_user }}</h3>
                <span>{{$lang.strings.overview}}</span>
                <v-tooltip top>
                <a href="javascript:void(0);" slot="activator">
                    <v-icon>ti-help-alt</v-icon>
                </a>
                <span>{{ $lang.strings.overview }}</span>
                </v-tooltip>
            </div>
            <!-- users table -->
            <v-layout row wrap>
                <v-flex xs12 sm12>
                    <v-container>
                        <v-btn class="purple white--text" @click="createUser()">
                            <i class="material-icons">add</i> 
                            {{ $lang.manage_user.create_user }}
                        </v-btn>
                        <!-- all user table -->
                        <div class="app-card">
                            <div class="app-card-title indigo">
                                <h3 class="white--text">{{ $lang.manage_user.users_list }}</h3>
                                <h4 class="white--text">{{ $lang.manage_user.users_count }} : {{ itemsUsers.length }}</h4>
                            </div>
                            <!-- add user dialog -->
                            <v-data-table
                                v-bind:headers="headersUsers"
                                :items="itemsUsers"
                                hide-actions>
                            <template slot="items" slot-scope="props">
                                <td class="text-xs-left">{{ props.item.name }}</td>
                                <td class="text-xs-left">{{ props.item.licenseNumber }}</td>
                                <td class="text-xs-left">{{ props.item.gender }}</td>
                                <td class="text-xs-left">{{ props.item.birthDate }}</td>
                                <td class="text-xs-left">{{ props.item.userRole }}</td>
                                <td v-if="!props.item.informationFilled">
                                    <v-btn class="btn-danger">
                                        {{ $lang.strings.delete }}
                                    </v-btn>
                                </td>
                                <td v-if="props.item.informationFilled">
                                    <v-btn class="btn-primary" @click="editUsers(props.item.docId)">
                                        {{ $lang.strings.edit }}
                                    </v-btn>
                                </td>
                            </template>
                            </v-data-table>                            
                        </div>
                        <!-- edit user info dialog -->
                        <v-dialog v-model="userDialog" max-width="800px">
                            <v-card>
                                <v-card-title>
                                    {{ userDialogTitle }}
                                </v-card-title>
                                <v-card-text>
                                    <v-form v-model="userDialogInfoForm" ref="form">
                                        <!-- add or edit users -->
                                        <h3>{{$lang.user_profile_update.user_info}}</h3>
                                        <!-- on creating -->
                                        <v-layout v-if="userDialogType == 'Create'" row wrap>
                                            <v-flex xs12 sm5>
                                            <v-text-field
                                                :label="$lang.user_profile_update.email"
                                                v-model="userDialogInfo.email"
                                                :rules="[v => !!v || 'required']"
                                                type="email"
                                                required></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm5 offset-sm1>
                                            <v-text-field
                                                :label="$lang.user_profile_update.displayName"
                                                v-model="userDialogInfo.displayName"
                                                :rules="[v => !!v || 'required']"
                                                required></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm5>
                                            <v-text-field
                                                :label="$lang.user_profile_update.password"
                                                v-model="userDialogInfo.password"
                                                :rules="[v => !!v || 'required']"
                                                type="password"
                                                required></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm5 offset-sm1>
                                            <v-text-field
                                                :label="$lang.user_profile_update.confirmPassword"
                                                v-model="userDialogInfo.confirmPassword"
                                                :rules="[
                                                    v => !!v || 'required',
                                                    v => (v === this.userDialogInfo.password) || 'Passwrod not Confirmed'
                                                ]"
                                                type="password"
                                                required></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                        <v-layout row wrap>
                                            <!-- on creating and updating -->
                                            <v-flex xs12 sm5>
                                            <v-text-field
                                                :label="$lang.user_profile_update.name"
                                                v-model="userDialogInfo.realName"
                                                :rules="[v => !!v || 'required']"
                                                :counter="16"
                                                required></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm5 offset-sm1>
                                            <v-radio-group v-model="userDialogInfo.gender" row>
                                                <v-radio :label="$lang.user_profile_update.male" value="Male" selected></v-radio>
                                                <v-radio :label="$lang.user_profile_update.female" value="Female"></v-radio>
                                            </v-radio-group>
                                            </v-flex>
                                            <v-flex xs12 sm5>
                                            <!--DatePicker pick birthday-->    
                                            <v-menu
                                                ref="menu"
                                                lazy
                                                :close-on-content-click="false"
                                                v-model="menu"
                                                transition="scale-transition"
                                                offset-y
                                                full-width
                                                :nudge-right="40"
                                                min-width="290px"
                                                :return-value.sync="userDialogInfo.birthDate">
                                                <v-text-field
                                                slot="activator"
                                                :label="$lang.user_profile_update.birthday"
                                                v-model="userDialogInfo.birthDate"
                                                prepend-icon=""
                                                readonly
                                                ></v-text-field>
                                                <v-date-picker v-model="userDialogInfo.birthDate" no-title scrollable >
                                                <v-spacer></v-spacer>
                                                <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                                                <v-btn flat color="primary" @click="$refs.menu.save(userDialogInfo.birthDate)">OK</v-btn>
                                                </v-date-picker>
                                            </v-menu>
                                            <!--birth date ends-->
                                            </v-flex>
                                            <v-flex xs12 sm5 offset-sm1>
                                            <v-select
                                                :label="$lang.user_profile_update.authority"
                                                v-bind:items="authorityTypes"  
                                                v-model="userDialogInfo.userRole"
                                                :rules="[v => !!v || 'required']"
                                                item-text="text"
                                                item-value="value"
                                                required
                                                bottom ></v-select>
                                            </v-flex>
                                            <v-flex xs12 sm11>
                                            <v-text-field
                                                :label="$lang.user_profile_update.address"
                                                v-model="userDialogInfo.address"
                                                :rules="[v => !!v || 'required']"
                                                required></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm2>
                                            <v-select
                                                :label="$lang.user_profile_update.country_name"
                                                v-bind:items="countryCodeList"  
                                                v-model="countryName"
                                                @change="bindCountryCode()"
                                                ref="countryName"
                                                :rules="[v => !!v || 'required']"
                                                item-text="name"
                                                item-value="name"
                                                required
                                                bottom ></v-select>
                                            </v-flex>
                                            <v-flex xs12 sm2 offset-sm1>
                                            <v-select
                                                :label="$lang.user_profile_update.country_code"
                                                v-bind:items="countryCodeList"  
                                                v-model="countryCode"
                                                @change="bindCountryName()"
                                                ref="countryCode"
                                                :rules="[v => !!v || 'required']"
                                                item-text="code"
                                                item-value="code"
                                                required
                                                bottom ></v-select>
                                            </v-flex>
                                            <v-flex xs12 sm5 offset-sm1>
                                            <v-text-field
                                                :label="$lang.user_profile_update.phone"
                                                v-model="userDialogInfo.phoneNumber"
                                                :rules="[v => !!v || 'required']"
                                                :counter='10'
                                                required></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                        <hr>
                                        <!-- users license and account -->
                                        <!-- wait for verification -->
                                        <v-layout row wrap>
                                            <v-flex xs12 sm12>
                                            <h3>{{$lang.user_profile_update.user_license}}</h3>
                                            </v-flex>
                                            <v-flex xs12 sm4>
                                            <v-text-field
                                                :label="$lang.user_profile_update.license"
                                                v-model="userDialogInfo.licenseNumber"
                                                :rules="[v => !!v || 'required']"
                                                required></v-text-field>
                                            <v-select 
                                                :label="$lang.user_profile_update.licnese_type"  
                                                v-bind:items="licenseTypes"  
                                                v-model="licenseType"
                                                :rules="[v => !!v || 'required']"
                                                single-line  
                                                bottom ></v-select>
                                            </v-flex>
                                            <!-- license images -->
                                            <v-flex xs6 sm4>
                                            <h3>{{ $lang.user_profile_update.front }}</h3>
                                            <v-btn
                                                class="gradient-warning"
                                                :loading="loading"
                                                @click.native="loader = 'loading'"
                                                :disabled="loading"
                                                @click="onFilePickedBtn(1)">
                                                {{$lang.user_profile_update.upload_license_img}}
                                                <v-icon right dark>cloud_upload</v-icon>
                                            </v-btn>
                                            <input 
                                                type="file" 
                                                accept="image/*" 
                                                @change="onFilePicked" 
                                                style="display: none;" 
                                                ref="fileInput_1"
                                                name="fileInput_1">
                                            </v-flex>
                                            <v-flex xs6 sm4>
                                            <img :src="licenseImageUrl_1" alt="License Image" class="img-responsive" />
                                            <!-- {{licenseImage1}} -->
                                            </v-flex>
                                            <v-flex xs6 sm4 offset-sm4>
                                            <h3>{{ $lang.user_profile_update.rear }}</h3>
                                            <v-btn
                                                class="gradient-warning"
                                                :loading="loading"
                                                @click.native="loader = 'loading'"
                                                :disabled="loading"
                                                @click="onFilePickedBtn(2)">
                                                {{$lang.user_profile_update.upload_license_img}}
                                                <v-icon right dark>cloud_upload</v-icon>
                                            </v-btn>
                                            <input 
                                                type="file" 
                                                accept="image/*" 
                                                @change="onFilePicked" 
                                                style="display: none;" 
                                                ref="fileInput_2"
                                                name="fileInput_2">
                                            </v-flex>
                                            <v-flex xs6 sm4>
                                            <img :src="licenseImageUrl_2" alt="License Image" class="img-responsive" />
                                            </v-flex>
                                            <v-flex xs6 sm4 offset-sm4>
                                            <h3>{{ $lang.user_profile_update.with_face }}</h3>
                                            <v-btn
                                                class="gradient-warning"
                                                :loading="loading"
                                                @click.native="loader = 'loading'"
                                                :disabled="loading"
                                                @click="onFilePickedBtn(3)">
                                                {{$lang.user_profile_update.upload_license_img}}
                                                <v-icon right dark>cloud_upload</v-icon>
                                            </v-btn>
                                            <input
                                                type="file" 
                                                accept="image/*" 
                                                @change="onFilePicked" 
                                                style="display: none;" 
                                                ref="fileInput_3"
                                                name="fileInput_3">
                                            </v-flex>
                                            <v-flex xs6 sm4>
                                            <img :src="licenseImageUrl_3" alt="License Image" class="img-responsive" />
                                            </v-flex>
                                        </v-layout>
                                    </v-form>
                                </v-card-text>
                                <v-card-actions>
                                    <v-btn class="btn-success" @click="userDialogSubmit(userDialogInfo.docId)">Submit</v-btn>
                                    <v-btn class="btn-danger" @click.stop="userDialog=false">Close</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>

                    </v-container>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>
<script>
import firebase from 'firebase'
// import InvestmentPlanService from '@/services/InvestmentPlanService'
// import { bankCodeList } from './BankCodeList'
import AdminService from '@/services/AdminService'
// import UserService from '@/services/UserService'
import swal from 'sweetalert2'
import { countryCodeList } from './CountryCodeList'
import { mapGetters } from 'vuex'

export default {
    data() {
        return {
            user: [],
            // loading: false,
            systemLoadingDialog: false,
            // bankCodeList: bankCodeList,
            menu: '',
            menuAddNewUser: '',
            loading: false,
            headersUsers: [
                { text: this.$lang.manage_user.display_name, value: 'name' },
                { text: this.$lang.manage_user.license_number, value: 'license_number' },
                { text: this.$lang.manage_user.gender, value: 'gender' },
                { text: this.$lang.manage_user.birthday, value: 'birthday' },
                { text: this.$lang.manage_user.authority, value: 'authority' },
                { text: this.$lang.strings.edit, value: 'edit' }
            ],
            itemsUsers: [],
            userDialog: false,
            userDialogTitle: 'Add New User',
            userDialogType: 'Create',
            userDialogInfo: [],
            userDialogInfoForm: false,
            licenseTypes: [
                {text: this.$lang.user_profile_update.tw_license, value: 'TW License'},
                {text: this.$lang.user_profile_update.tw_resident_permit, value: 'TW Resident Permit'},
                {text: this.$lang.user_profile_update.passport, value: 'Passport'}
            ],
            licenseType: '',
            authorityTypes: [
                {text: this.$lang.manage_user.super_admin, value: 'SuperAdmin'},
                {text: this.$lang.manage_user.admin, value: 'Admin'},
                {text: this.$lang.manage_user.lessons_admin, value: 'LessonsAdmin'},
                {text: this.$lang.manage_user.normal_user, value: 'NormalUser'}
            ],
            countryCodeList: countryCodeList,
            countryName: '',
            countryCode: '',
            licenseImage1: '',
            licenseImage2: '',
            licenseImage3: '',
            licenseImageUrl_1: '',
            licenseImageUrl_2: '',
            licenseImageUrl_3: ''
        }
    },
    methods: {
        async getAllUsers () {
            try {
                var query = await AdminService.getAllUsers()
                this.itemsUsers = query.data
                // console.log(this.itemsUsers)
            } catch (error) {
                console.log(error)
            }
        },
        userDialogSubmit (docId) {
            if (this.userDialogType === 'Update') {
                this.editUsersSubmit()
            } else if (this.userDialogType === 'Create') {
                this.createUserSubmit()
            }
        },
        createUser () {
            this.userDialogType = 'Create'
            this.userDialogTitle = 'Add New User'
            this.userDialogInfo = []
            this.userDialogInfoForm = false
            this.licenseImageUrl_1 = '/static/img/license.png'
            this.licenseImageUrl_2 = '/static/img/license.png'
            this.licenseImageUrl_3 = '/static/img/selfie.jpg'
            this.userDialog = true
        },
        async createUserSubmit () {
            if (!this.$refs.form.validate()) {
                console.log("form submit error")
                swal(
                    'Oops !',
                    this.$lang.alert.error.plz_check_form_again,
                    'info'
                )
                return
            }
            var file1 = this.licenseImage1
            var file2 = this.licenseImage2
            var file3 = this.licenseImage3
            if (!file1 || !file2 || !file3) {
                swal(
                    'Oops !',
                    this.$lang.alert.error.please_upload_valid_image,
                    'info'
                )
                return
            }
            try {
                this.systemLoadingDialog = true
                // console.log(this.userDialogInfo)
                var db = firebase.firestore()
                // var storage = firebase.storage();
                var storageRef = firebase.storage().ref()

                var result = await AdminService.createUser({
                    email: this.userDialogInfo.email,
                    password: this.userDialogInfo.password,
                    displayName: this.userDialogInfo.displayName,
                    //
                    realName: this.userDialogInfo.realName,
                    gender: this.userDialogInfo.gender,
                    birthDate: this.userDialogInfo.birthDate,
                    licenseNumber: this.userDialogInfo.licenseNumber,
                    licenseType: this.licenseType,
                    address: this.userDialogInfo.address,
                    phoneNumber: this.userDialogInfo.phoneNumber,
                    informationFilled: true,
                    //
                    userRole: this.userDialogInfo.userRole,
                    countryName: this.countryName,
                    countryCode: this.countryCode
                })
                // console.log(result)
                if (result.data.status === 'success') {
                    var userRef = db.collection('users').doc(result.data.docId)
                    var metadata1 = {
                        contentType: file1.type
                    };
                    var uploadTask1 = storageRef.child('images/' + file1.name).put(file1, metadata1);
                    uploadTask1.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
                        function(snapshot) {
                        // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
                        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                        console.log('Upload is ' + progress + '% done');
                        switch (snapshot.state) {
                            case firebase.storage.TaskState.PAUSED: // or 'paused'
                            console.log('Upload is paused');
                            break;
                            case firebase.storage.TaskState.RUNNING: // or 'running'
                            console.log('Upload is running');
                            break;
                        }
                        }, function(error) {
                            console.log(error)
                        }, async function() {
                        // Upload completed successfully, now we can get the download URL
                        var downloadURL = await uploadTask1.snapshot.ref.getDownloadURL()
                        await userRef.update({
                            licenseImage1: downloadURL
                        })
                    })
                    // var file2 = this.userInfoForm.licenseImage_2
                    var metadata2 = {
                        contentType: file2.type
                    };
                    var uploadTask2 = storageRef.child('images/' + file2.name).put(file2, metadata2);
                    uploadTask2.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
                        function(snapshot) {
                        // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
                        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                        console.log('Upload is ' + progress + '% done');
                        switch (snapshot.state) {
                            case firebase.storage.TaskState.PAUSED: // or 'paused'
                            console.log('Upload is paused');
                            break;
                            case firebase.storage.TaskState.RUNNING: // or 'running'
                            console.log('Upload is running');
                            break;
                        }
                        }, function(error) {
                            console.log(error)
                        }, async function() {
                        // Upload completed successfully, now we can get the download URL
                        var downloadURL = await uploadTask2.snapshot.ref.getDownloadURL()
                        await userRef.update({
                            licenseImage2: downloadURL
                        })
                    })
                    // var file3 = this.userInfoForm.licenseImage_3
                    var metadata3 = {
                        contentType: file3.type
                    };
                    var uploadTask3 = storageRef.child('images/' + file3.name).put(file3, metadata3);
                    uploadTask3.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
                        function(snapshot) {
                        // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
                        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                        console.log('Upload is ' + progress + '% done');
                        switch (snapshot.state) {
                            case firebase.storage.TaskState.PAUSED: // or 'paused'
                            console.log('Upload is paused');
                            break;
                            case firebase.storage.TaskState.RUNNING: // or 'running'
                            console.log('Upload is running');
                            break;
                        }
                        }, function(error) {
                            console.log(error)
                        }, async function() {
                        // Upload completed successfully, now we can get the download URL
                        var downloadURL = await uploadTask3.snapshot.ref.getDownloadURL()
                        await userRef.update({
                            licenseImage3: downloadURL
                        })
                    })
                    this.systemLoadingDialog = false
                    swal(
                        this.$lang.alert.success.title[0],
                        '',
                        'success'
                    )
                } else if (result.data.status === 'error') {
                    this.systemLoadingDialog = false
                    switch (result.data.message.code) {
                        case 'auth/email-already-exists':
                            swal(
                                this.$lang.alert.error.title[0],
                                result.data.message.message,
                                'error'
                            )
                            break;
                        default:
                            break;
                    }
                }
                this.userDialog = false
                this.getAllUsers()
            } catch (error) {
                console.log(error)
            }
        },
        editUsers (docId) {
            this.userDialogType = 'Update'
            this.userDialogTitle = 'Update User'
            for (var i = 0; i < this.itemsUsers.length; i++) {
                if (this.itemsUsers[i].docId === docId) {
                    this.userDialogInfo = this.itemsUsers[i]
                    this.licenseType = this.itemsUsers[i].licenseType
                    this.countryName = this.itemsUsers[i].countryName
                    this.countryCode = this.itemsUsers[i].countryCode
                    this.licenseImageUrl_1 = this.itemsUsers[i].licenseImage1
                    this.licenseImageUrl_2 = this.itemsUsers[i].licenseImage2
                    this.licenseImageUrl_3 = this.itemsUsers[i].licenseImage3
                    this.licenseImage1 = ''
                    this.licenseImage2 = ''
                    this.licenseImage3 = ''
                }
            }
            this.userDialog = true
        },
        async editUsersSubmit () {
            try {
                var db = firebase.firestore()
                // var storage = firebase.storage();
                var storageRef = firebase.storage().ref()
                //
                var file1 = this.licenseImage1
                var file2 = this.licenseImage2
                var file3 = this.licenseImage3
                //
                this.systemLoadingDialog = true
                this.userDialogInfo.licenseType = this.licenseType
                this.userDialogInfo.informationFilled = true
                this.userDialogInfo.countryName = this.countryName
                this.userDialogInfo.countryCode = this.countryCode
                // var result =
                await AdminService.updateUser(this.userDialogInfo)
                var userRef = db.collection('users').doc(this.userDialogInfo.docId)
                // update images
                if (file1) {
                    var metadata4 = {
                        contentType: file1.type
                    };
                    var uploadTask4 = storageRef.child('images/' + file1.name).put(file1, metadata4);
                    uploadTask4.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
                    function(snapshot) {
                        // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
                        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                        console.log('Upload is ' + progress + '% done');
                        switch (snapshot.state) {
                        case firebase.storage.TaskState.PAUSED: // or 'paused'
                            console.log('Upload is paused');
                            break;
                        case firebase.storage.TaskState.RUNNING: // or 'running'
                            console.log('Upload is running');
                            break;
                        }
                    }, function(error) {
                        console.log(error)
                    }, async () => {
                        // Upload completed successfully, now we can get the download URL
                        var downloadURL = await uploadTask4.snapshot.ref.getDownloadURL()
                        await userRef.update({
                            licenseImage1: downloadURL
                        })
                        this.getAllUsers()
                    })
                }
                if (file2) {
                    var metadata5 = {
                    contentType: file2.type
                    };
                    var uploadTask5 = storageRef.child('images/' + file2.name).put(file2, metadata5);
                    uploadTask5.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
                    function(snapshot) {
                        // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
                        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                        console.log('Upload is ' + progress + '% done');
                        switch (snapshot.state) {
                        case firebase.storage.TaskState.PAUSED: // or 'paused'
                            console.log('Upload is paused');
                            break;
                        case firebase.storage.TaskState.RUNNING: // or 'running'
                            console.log('Upload is running');
                            break;
                        }
                    }, function(error) {
                        console.log(error)
                    }, async () => {
                        // Upload completed successfully, now we can get the download URL
                        var downloadURL = await uploadTask5.snapshot.ref.getDownloadURL()
                        await userRef.update({
                            licenseImage2: downloadURL
                        })
                        this.getAllUsers()
                    })
                }
                if (file3) {
                    var metadata6 = {
                    contentType: file3.type
                    };
                    var uploadTask6 = storageRef.child('images/' + file3.name).put(file3, metadata6);
                    uploadTask6.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
                    function(snapshot) {
                        // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
                        var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                        console.log('Upload is ' + progress + '% done');
                        switch (snapshot.state) {
                        case firebase.storage.TaskState.PAUSED: // or 'paused'
                            console.log('Upload is paused');
                            break;
                        case firebase.storage.TaskState.RUNNING: // or 'running'
                            console.log('Upload is running');
                            break;
                        }
                    }, function(error) {
                        console.log(error)
                    }, async () => {
                        // Upload completed successfully, now we can get the download URL
                        var downloadURL = await uploadTask6.snapshot.ref.getDownloadURL()
                        await userRef.update({
                            licenseImage3: downloadURL
                        })
                        this.getAllUsers()
                    })
                }
                // console.log(result)
                this.getAllUsers()
                this.userDialog = false
                this.systemLoadingDialog = false
                swal(
                    this.$lang.alert.success.title[0],
                    '',
                    'success'
                )
            } catch (error) {
                this.userDialog = false
                this.systemLoadingDialog = false
                swal(
                    this.$lang.alert.error.title[0],
                    'Something went wrong',
                    'error'
                )
                console.log(error)
            }
        },
        // parse outputs
        parseDateTimeFormat (dateTime) {
            var now = new Date(dateTime)
            var mm = now.getMonth() + 1 // getMonth() is zero-based
            var dd = now.getDate()
            var hour = now.getHours()
            var min = now.getMinutes()
            var sec = now.getSeconds()
            var string = now.getFullYear() + '/' + (mm > 9 ? '' : '0') + mm + '/' + (dd > 9 ? '' : '0') + dd + ' ' + (hour > 9 ? '' : '0') + hour + ':' + (min > 9 ? '' : '0') + min + ':' + (sec > 9 ? '' : '0') + sec
            return string
        },
        onFilePicked (event) {
            // see which button has been activated
            const btn = event.target.name
            console.log(btn)
            const files = event.target.files
            let filename = files[0].name
            // if the file doesnt have extension
            if (filename.lastIndexOf('.') <= 0) {
                alert('Please add a valid file!')
            }
            // turn this binary file to string value, for later uploads
            const fileReader = new FileReader()
            fileReader.addEventListener('load', () => {
                // for image preview
                switch (btn) {
                    case 'fileInput_1':
                        this.licenseImageUrl_1 = fileReader.result
                        break;
                    case 'fileInput_2':
                        this.licenseImageUrl_2 = fileReader.result
                        break;
                    case 'fileInput_3':
                        this.licenseImageUrl_3 = fileReader.result
                        break;
                    default:
                        break;
                }
            })
            switch (btn) {
                case 'fileInput_1':
                    // store the raw file
                    fileReader.readAsDataURL(files[0])
                    this.licenseImage1 = files[0]
                    break;
                case 'fileInput_2':
                    // store the raw file
                    fileReader.readAsDataURL(files[0])
                    this.licenseImage2 = files[0]
                    break;
                case 'fileInput_3':
                    // store the raw file
                    fileReader.readAsDataURL(files[0])
                    this.licenseImage3 = files[0]
                    break;
                default:
                    break;
            }
        },
        onFilePickedBtn (number) {
            switch (number) {
                case 1:
                    this.$refs.fileInput_1.click()
                    break;
                case 2:
                    this.$refs.fileInput_2.click()
                    break;
                case 3:
                    this.$refs.fileInput_3.click()
                    break;
                case 4:
                    this.$refs.fileInput_4.click()
                    break;
                case 5:
                    this.$refs.fileInput_5.click()
                    break;
                case 6:
                    this.$refs.fileInput_6.click()
                    break;
                case 7:
                    this.$refs.fileInput_7.click()
                    break;
                case 8:
                    this.$refs.fileInput_8.click()
                    break;
                default:
                    break;
            }
        },
        bindCountryCode () {
            // console.log(this.$refs.bankName.inputValue)
            for (var key in countryCodeList) {
                if (countryCodeList[key].name === this.$refs.countryName.inputValue) {
                    this.countryCode = countryCodeList[key].code
                    return
                }
            }
        },
        bindCountryName () {
            // console.log(this.$refs.bankName.inputValue)
            for (var key in countryCodeList) {
                if (countryCodeList[key].code === this.$refs.countryCode.inputValue) {
                    this.countryName = countryCodeList[key].name
                    return
                }
            }
        }
    },
    created() {
        this.getAllUsers()
    },
    watch: {
        getLang: function () {
            // console.log('get lang')
            this.headersUser = [
                {
                    text: this.$lang.manage_user.add_dateTime,
                    align: 'center',
                    sortable: false,
                    value: 'name'
                },
                { text: this.$lang.manage_user.display_name, value: 'display_name' },
                { text: this.$lang.manage_user.license_number, value: 'license_number' },
                { text: this.$lang.manage_user.gender, value: 'gender' },
                { text: this.$lang.manage_user.birthday, value: 'birthday' },
                { text: this.$lang.manage_user.total_earned, value: 'total_earned' },
                { text: this.$lang.manage_user.total_withdrawn, value: 'total_withdrawn' },
                { text: this.$lang.manage_user.authority, value: 'authority' },
                { text: this.$lang.strings.edit, value: 'edit' }
            ]
            this.headersPendingUser = [
                {
                    text: this.$lang.manage_user.add_dateTime,
                    align: 'center',
                    sortable: false,
                    value: 'name'
                },
                { text: this.$lang.manage_user.display_name, value: 'display_name' },
                { text: this.$lang.manage_user.license_number, value: 'license_number' },
                { text: this.$lang.manage_user.license_type, value: 'license_type' },
                { text: this.$lang.manage_user.license_image_1, value: 'license_1' },
                { text: this.$lang.manage_user.license_image_2, value: 'license_2' },
                { text: this.$lang.manage_user.license_image_3, value: 'license_3' },
                { text: this.$lang.manage_user.passbook_photo, value: 'license_4' },
                { text: this.$lang.strings.verify, value: 'verify' }
            ]
            this.licenseTypes = [
                {text: this.$lang.user_profile_update.tw_license, value: 'TW License'},
                {text: this.$lang.user_profile_update.tw_resident_permit, value: 'TW Resident Permit'},
                {text: this.$lang.user_profile_update.passport, value: 'Passport'}
            ]
            this.authorityTypes = [
                {text: this.$lang.manage_user.super_admin, value: 'SuperAdmin'},
                {text: this.$lang.manage_user.finance_officer, value: 'FinanceOfficer'},
                {text: this.$lang.manage_user.admin, value: 'Admin'},
                {text: this.$lang.manage_user.normal_user, value: 'NormalUser'}
            ]
        }
    },
    computed: {
        ...mapGetters({
            getLang: 'getLang'
        })
    }
}
</script>
